@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,800');

/*bt overwrite*/
@media screen and (min-width:768px){
    .container{border-left:1px solid #444;border-right:1px solid #444}
}
@media screen and (min-width:1200px){
    .container{width:1140px!important}
}
@media screen and (min-width:1300px){
    .container{width:1240px!important}
}
@media screen and (min-width:1400px){
    .container{width:1340px!important}
}
@media screen and (min-width:1500px){
    .container{width:1440px!important}
}
body{font-family:"Open Sans 400",sans-serif;color:#444}
/*h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5{}*/
body{
    border:1px solid #fff;
}
/*header*/
#header-top{margin:0 45px}
#header-top .navbar-nav>li>a{padding-top:25px;padding-bottom:25px}
header .navbar{margin-bottom:0}
header .navbar-nav{float:right}
header .navbar-brand{padding:22px 0 8px 0}
header #menu-cta{border-radius:2px;border:1px solid #0280c3;padding:5px 30px;margin-top:18px;color:#0280c3;transition:all.3s;cursor:pointer}
header #menu-cta:hover{background-color:#0280c3;color:#fff}
/*video-banner height:500px;*/
#video-banner{background-image:linear-gradient(137deg, #05a8ff, #0280c3);overflow:hidden;display:flex}
#video-banner #video-banner-cta{display:flex;align-items:center;justify-content:center;flex-direction:column;color:#fff;
background-image:url("../images/bldgs.svg");background-repeat:no-repeat;background-position:center bottom;background-size:102%}
#video-banner #video-banner-cta p{font-size:18px}
#video-banner #video-banner-video{background-color:#71b6bd;padding:0;overflow:hidden;margin:-2px 0;
    background-image:url("../images/video/play.svg"),url("../images/video/poster.jpg");
    background-repeat:no-repeat;
    background-size:auto,cover;
    background-position:center center,center bottom}
#video-banner #video-banner-video video{opacity:0;background-color:#000}
#video-banner #video-banner-video #button-stop{position:absolute;bottom:0;left:0;opacity:0;cursor:pointer;z-index:99;width:70px;height:70px}
.opacity{opacity:1!important;}
/*partners*/
#partners{text-align:center;border-bottom:1px solid #eaeaea;}
#partners img{width:4%;margin:15px 10px;-webkit-filter:grayscale(100%);filter:grayscale(100%);transition:all.3s;cursor:pointer}
#partners img:hover{-webkit-filter:grayscale(0%);filter:grayscale(0%)}
/*sales-analytics*/
#sales-analytics>div{padding:10px 0 40px;border-bottom:1px solid #eaeaea;}
#sales-analytics>div:first-child{color:#f08d28;border-right:1px solid #eaeaea;}
#sales-analytics>div:last-child{color:#0280c3;}
#sales-analytics h2,#sales-analytics .cta-orange,#sales-analytics .cta-blue{margin:25px 23px 25px}
#sales-analytics ul{}
#sales-analytics ul li{padding:7px 0;letter-spacing:0.2px}
#sales-analytics ul li span{color:#444;font-size:18px;}
/*testimanials-one*/
#testimanials-one{background-color:#f9f9f9;padding:0 65px 50px}
#testimanials-one h3{margin:20px 0}
#testimanials-one>div>div{transition:all.2s;background-color:#fff;width:31.57%;float:left;margin:10px;min-height:275px;padding:15px;box-shadow:0 3px 5px -2px rgba(0,0,0,0.1)}
#testimanials-one>div>div:hover{transform:scale(1.02);box-shadow:0 5px 5px 1px rgba(0,0,0,0.1)}
#testimanials-one .testimanials-one-img{width:80px;height:80px;border-radius:50px;border:1px solid #eaeaea;float:left;padding:10px;display:flex;justify-content:center;align-items:center;margin-right:15px}
#testimanials-one>div>div:nth-child(1){align-items:center}
#testimanials-one img{width:90%}
/*advantage-one*/
#advantage-one{text-align:center;margin:-25px 50px 50px;overflow:hidden}
#advantage-one>div{position:relative;background-color:#fff;width:31.57%;margin:0 10px 10px;min-height:150px;padding:15px;box-shadow:0 4px 4px -1px rgba(0,0,0,0.1)}
#advantage-one h2{color:#f08d28!important;font-weight:900;}
#advantage-one .shadow{margin:-63px auto -74px;font-size:90px;width:100%;color:rgba(0, 86, 132, 0.1);font-weight:900}
/*excerption-one*/
#excerption-one{color:#fff}
#excerption-one #orange-block{background-color:#f08d28;min-height:300px;margin:19px 80px 0}
#excerption-one #orange-block>div:first-child img{margin:-53px 0 0 -56px}
#excerption-one #orange-block>div:last-child{min-height:300px;display:flex;justify-content:center;flex-direction:column;align-items:center;color:#fff}
#excerption-one #orange-block>div:last-child>div{width:fit-content;height:fit-content;padding:5px;background-color: #f08d28;}
#excerption-one #orange-block>div:last-child>p:first-child{width:85%;border-top:1px solid #fff;margin-bottom:-21px}
#excerption-one #orange-block h3{font-weight:100;padding:0 50px;margin:10px auto 30px;}
#excerption-one #orange-block>div:last-child h3+p{width:85%;border-top:1px solid #fff}
/*cta-blue*/
#cta-blue{
    background-image:url("../images/bldgs.svg"),linear-gradient(95deg, #05a8ff, #0280c3);
    background-repeat:repeat-x,no-repeat;
    background-position:center bottom,center;
}
#cta-blue .cta-white{margin:30px auto 40px;font-size:20px}
/*cta-gray*/
#cta-gray{
    background-color:#e9e9e9;
    background-image:url("../images/bldgs2.svg");
    background-repeat:repeat-x;
    background-position:center bottom;
    margin-bottom:80px;
}
#cta-gray>div{display:flex;width:100%;justify-content:center;align-items:center}
#cta-gray>div h2{margin:0}
#cta-gray .cta-orange-fill{margin:45px 35px 45px}
#cta-gray .cta-orange-fill:hover{color:#f08d28}
/*why-we*/
#why-we{background-color:#0280c3;color:#fff;margin:0 65px;overflow:hidden;display:flex;margin-bottom:50px}
#why-we p{color:#fff}
#why-we>div:first-child{padding:25px 90px 15px 100px}
#why-we>div:first-child ul li{position:relative}
#why-we>div:first-child ul li:before{content:"●";position:absolute;left:-30px;top:-15px;color:#f08d28;font-size:30px}
#why-we>div:first-child ul li{color:#fff;font-size:14px}
#why-we>div:last-child{background-image:url("../images/bitmap.jpg");background-repeat:no-repeat;background-size:cover;background-position:right bottom}
/*contact-us-one*/
#contact-us-one{display:flex;margin:0 65px 60px;border:1px solid #eaeaea}
#contact-us-one>div:not(:last-child){padding:25px 40px}
#contact-us-one>div:last-child{padding:25px 141px}
#contact-us-one>div:not(:last-child){border-right:1px solid #eaeaea}
#contact-us-one>div h2{margin-bottom:20px}
#contact-us-one>div:last-child{background-image:url("../images/orange_bg.jpg");background-repeat:no-repeat;background-size:cover;color:#fff}
#contact-us-one input:not([type="submit"]){display:block;margin:0 auto 20px;background:transparent;border:1px solid #fff;padding:5px;color:#fff;width:90%}
#contact-us-one input[type="submit"]{width:90%;color:#f08d28}
#contact-us-one input[type="submit"]:hover{color:#fff}
#contact-us-one input:-moz-placeholder{color:#fff}
#contact-us-one input::-moz-placeholder{color:#fff}
#contact-us-one input::-webkit-input-placeholder{color:#fff}
#contact-us-one a{color:#0280c3;font-weight:700;font-size:18px}
/*footer*/
footer{background-color:#d8dfe5;color:#6d8090;margin:0 -15px}
footer #level-one{padding:25px 0;display:flex;align-items:center;margin:0 81px}
footer #level-one,footer #level-two,footer #level-three{background-color:#d8dfe5}
footer #level-one>div:last-child{text-align:right}
footer #level-one>div:first-child img{width:80%}
footer>div:nth-child(2){border-top:1px solid #fff;border-bottom:1px solid #fff}
footer ul{display:inline-flex}
footer ul li{padding:15px 10px}
footer a{color:#6d8090}
footer input:not([type="submit"]){padding:6px;background:transparent;border:1px solid #fff;width:49%}
footer input[type="submit"]{padding:6px 25px;color:#6d8090;width:49%;margin:15px auto!important}
footer input[type="submit"]:hover{color:#000}
/*buttons*/
.cta-orange,.cta-orange-fill,.cta-blue,.cta-white{font-size:14px;width:fit-content;padding:7px 50px;text-align:center;transition:all.3s;cursor:pointer;border-radius:2px}
.cta-orange{border:1px solid #f08d28}.cta-orange:hover{background-color:#f08d28;color:#fff}
.cta-blue{border:1px solid #0280c3}.cta-blue:hover{background-color:#0280c3;color:#fff}
.cta-orange-fill{background-color:#f08d28;color:#fff;border:1px solid #f08d28}.cta-orange-fill:hover{background-color:rgba(255,255,255,0.3)}
.cta-white{background-color:#fff;border:1px solid #fff;color:#0280c3}.cta-white:hover{background-color:rgba(255,255,255,0.3);color:#fff}
/*form*/
/*input:invalid{border:1px solid red!important;}
input:valid{border:1px solid green!important;}*/
#alerts{position:fixed;top:0;width:100%;padding:5px}
#сall-me .modal-content{text-align:center;padding:40px}
#сall-me .modal-content img{margin:0 0 25px}
#сall-me .modal-content input:not([type="submit"]){width:100%;padding:9px;border-radius:2px;border:1px solid #dedede;margin:0 0 15px}
#сall-me .modal-content input[type="submit"]{width:100%;padding:10px;background-color:#0280c3;border:none;color:#fff;border-radius:2px}
#сall-me .modal-content h4{margin-bottom:20px}
#сall-me .modal-content .close{position:absolute;right:-19px;top:-27px;color:#fff;font-weight:100;font-family:-webkit-pictograph,sans-serif;font-size:37px}
/**/
@media screen and (max-width:888px){
    h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5{text-align:center}
    .cta-orange,.cta-orange-fill,.cta-blue,.cta-white{margin:45px auto!important}
    .navbar-toggle .icon-bar{border:1px solid #0499e8}
    #header-top{margin:inherit}
    header .navbar-nav{float:none;text-align:center}
    #video-banner{display:block;text-align:center}
    #video-banner #video-banner-video{background-size:15%,cover}
    #video-banner #video-banner-cta h1{font-size:26px}
    #video-banner #video-banner-cta .cta-orange-fill{padding:10px;width:100%}
    #video-banner #video-banner-cta p{font-size:16px}
    #partners img{width:13%;-webkit-filter:grayscale(0%);filter:grayscale(0%);margin:5px}
    #sales-analytics ul{padding:0 10px 0 20px}
    #sales-analytics ul li span{font-size:14px}
    #cta-blue{padding-bottom:40px}
    #testimanials-one{padding:0}
    #testimanials-one>div{width:100%}
    #testimanials-one>div>div{width:100%;margin:0;text-align:center}
    #advantage-one{margin:-15px 0 0}
    #advantage-one p{font-size:18px}
    #advantage-one>div{width:inherit;margin:0 0 20px 0;min-height:135px;overflow:hidden}
    #testimanials-one>div >div:nth-child(1){display:block}
    #cta-gray{background-image:url("../images/bldgs22.png")}
    #cta-gray>div{display:block}
    #excerption-one #orange-block{min-height:260px}
    #excerption-one #orange-block{margin:200px 0 0}
    #excerption-one #orange-block h3{font-weight:100;padding:0;font-size:18px;letter-spacing:1px}
    #excerption-one #orange-block>div:last-child{min-height:220px}
    #excerption-one #orange-block>div:first-child img{margin:-151px 0 0;width:100%}
    #cta-gray{margin-bottom:0;padding-bottom:35px}
    #cta-gray>div h2{margin:30px 3px;font-size:21px}
    #why-we{margin:0 -15px;display:block;background-image:linear-gradient(148deg,#05a8ff,#0280c3)}
    #why-we h5{text-align:left}
    #why-we>div:first-child{padding:20px 15px 15px 40px}
    #contact-us-one{display:block;margin:30px 5px}
    #contact-us-one>div:first-child{border-bottom:1px solid #dedede}
    #contact-us-one>div:last-child{padding:inherit}
    #contact-us-one input[type="submit"]{margin-top:0!important}
    footer{margin:0 -15px}
    footer #level-one{display:block;margin:0;text-align:center;padding:25px 0 0}
    footer #level-one>div:nth-child(2){padding:15px}
    footer #level-one>div:nth-child(2) a{display:block;margin:10px 0}
    footer #level-one>div:nth-child(3){border-top:1px solid #fff;border-bottom:1px solid #fff;padding:30px 30px 15px}
    footer #level-one>div:last-child{text-align:center}
    footer #level-one>div:last-child img{transform:scale(3);margin:27px}
    footer #level-two ul li{width:50%;float:left}
    footer ul{display:block}
    footer input{width:100%!important}
}
@media screen and (max-width:1400px){
    #header-top{margin:0 31px}
    #testimanials-one{padding:0 52px 50px}
    #advantage-one{margin:-25px 37px 50px}
    #excerption-one #orange-block{margin:19px 62px 0}
    #why-we{color:#fff;margin:0 47px}
    #contact-us-one{margin:0 46px 60px}
    footer #level-one{margin:0 47px}
}
@media screen and (max-width:1300px){
    #header-top{margin:0}
    #testimanials-one{padding:0 0 50px}
    #advantage-one{margin:-25px 0 50px}
    #advantage-one>div{width:31.5%}
    #excerption-one #orange-block{margin:19px 0 0}
    #why-we{margin:0}
    #contact-us-one{margin:0 0 60px}
    footer #level-one{margin:0}
}
@media screen and (max-width:1200px){
    #testimanials-one>div>div{width:31.2%}
    #advantage-one>div{width:31.2%}
}
@media screen and (max-width:992px){
    .container{width:100%}
    #partners img{width:8%}
    #sales-analytics ul li span{font-size:13px}
    #testimanials-one>div>div{width:30.6%}
    #advantage-one>div{width:30.5%;padding:15px 10px}
    #advantage-one .shadow{margin:-32px auto -53px;font-size:50px}
    #excerption-one #orange-block h3{font-size:18px}
    #excerption-one #orange-block>div:first-child img{margin:37px 0;width:100%}
    #why-we>div:last-child{display:none}
    #why-we>div:first-child{width:100%}
    #contact-us-one>div:not(:last-child){padding:0}
    #contact-us-one>div:last-child{padding:0}
    footer input[type="submit"]{padding:6px 0}
    footer #level-one>div:last-child{padding:0}
}